# Ignore editor files
.vscode/
.aider*
.env

# Binaries
api-to-terraform
api-to-terraform.exe

# terraform
*.tf
*.tf.json
.terraform/
.terraform.lock.hcl
crash.log
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.example

# Local testing
config.yaml
fixtures